.commentArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.commentInfo > p {
  font-weight: 300;
  font-size: 14px;
}

.commentInfo > p > span {
  font-weight: bold;
}

.commentContainer {
  padding: 1rem 1rem;
}

.dotsForComments {
  color: rgb(187, 0, 0);
}